.page{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color:rgba(32, 32, 32, 1);
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  color:#FFFFFF;
  margin: 0;
}
