.more-button {
  background-color: rgba(47, 47, 47, 1);
  border: none;
  border-radius: 6px;
  width: 320px;
  height: 36px;
  color: #FFF;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 0;
  cursor: pointer;
}

.more-button:hover{
  opacity: .8;
}

@media screen and (max-width:320px) {
  .more-button {
    width: 240px;
  }
}
