.aboutProject__illustrarion{
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 36px 36px;
  align-items: stretch;
}

@media screen and (max-width:768px) {
  .aboutProject__illustrarion{
    grid-template-columns: 140px 1fr;
  }
}

@media screen and (max-width:320px) {
  .aboutProject__illustrarion{
    grid-template-columns: 100px 1fr;
  }
}
