.search-form{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 70px 70px;
  background-color: rgba(47, 47, 47, 1);
  border-radius: 9px;
  height: 72px;
  border: none;
  padding:0 ;
}

.search-form__search{
  display: flex;
  align-items: center;
  height: 40px;
  margin: 0 0 0 19px;
  border-right: 1px solid rgba(66, 66, 66, 1);
  width: 100%;
}

.search-form__search::before{
  content: '';
  background-image:url('./loupe.svg');
  width: 34px;
  height: 34px;
}

.search-form__container{
  display: flex;
  justify-content: space-between;
  margin: 0 32px 0 11px;
  width: 100%;
}

.search-form__input{
  background-color: transparent;
  font-size: 18px;
  width: 90%;
  border: none;
  color: white;
}

.search-form__input:focus{
  outline: none;
}

.search-form__filter{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 13px;
  padding: 0 30px 0;
  line-height: 18px;
  font-size: 13px;
  line-height: 18px;
}

.search-form__error{
  display: block;
  margin: 0 auto 30px;
  width: 90%;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #FF004C;
}

@media screen and (max-width:768px) {
  .search-form{
    margin: 0 30px 109px;
  }

  .search-form__filter{
    padding: 0 20px 0;
  }

  .search-form__search{
    margin: 0 0 0 20px;
  }

  .search-form__container{
    margin: 0 20px 0 11px;
  }
}

@media screen and (max-width:640px) {
  .search-form{
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    margin: 0 10px 0;
    height: 100%;
  }

  .search-form__search::before{
    content: '';
    background-image:none;
    width: 0;
    height: 0;
  }

  .search-form__search{
    align-items: center;
    border-radius: 9px;
    background-color: rgba(47, 47, 47, 1);
    border: none;
    height: 72px;
    margin: 0 10px 0;
  }

  .search-form__container{
    justify-content: space-between;
    margin: 0 19px 0;
  }

  .search-form__input{
    font-size: 14px;
    width: 50%;
  }

  .search-form__filter{
    flex-direction: row;
    align-items: center;
    gap: 13px;
    font-size: 11px;
    line-height: 18px;
    height: 110px;
  }

  .search-form__error{
    font-size: 12px;
  }
}
