.aboutMe__myPhoto{
  height: 327px;
  width: 260px;
  border-radius: 10px;
}

@media screen and (max-width:768px) {
  .aboutMe__myPhoto {
    height: 307px;
  }
}

@media screen and (max-width:550px) {
  .aboutMe__myPhoto {
    height: 352px;
    width: 292px;
    order: -1;
  }
}
