.aboutMe__status {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

@media screen and (max-width:320px) {
  .aboutMe__status {
    font-size: 11px;
    line-height: 16px;
  }
}

